@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 226 232 240;
    --color-primary-hover: 203 213 225;
    --color-contrast: 31 41 55;
    --color-accent-default: 3 92 226;
    --color-accent-hover: 0 73 183;
  }
  :root[class~="dark"] {
    /* --color-primary: #1c1c22; */
    --color-primary: 31 41 55;
    --color-primary-hover: 55 65 81;
    --color-contrast: 226 232 240;
    --color-accent-default: 0 255 153;
    --color-accent-hover: 0 225 135;
  }
  body {
    @apply dark:bg-gray-800 bg-slate-200 font-primary dark:text-white text-black leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h4 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px var(--color-contrast);
  }
  .text-outline-hover {
    -webkit-text-stroke: 1px var(--color-accent-hover);
  }
}
